{
  "projects": {
    "default": "your-firebase-project-id"
  },
  "targets": {
    "your-firebase-project-id": {
      "hosting": {
        "student": [
          "your-student-hosting-site"
        ],
        "instructor": [
          "your-instructor-hosting-site"
        ]
      }
    }
  }
}

